/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fece44;
  }
  
  header {
    background-color: #0561ab;
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0561ab;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  
  nav a:hover {
    background-color: #d73549;
    border-radius: 8px; 
  }
  
  section {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  
  h1, h2 {
    font-family: "pacifico"; "roboto"
    margin-bottom: 1rem;
  }
  h5{
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  footer {
    background-color: #0561ab;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #0561ab;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0561ab;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }


/* Add this media query at the end of your styles.css file */
@media screen and (max-width: 768px) {
    nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    nav li {
      margin-bottom: 0; /* Remove the bottom margin */
      margin-right: 0.5rem;
    }
  }

  .gold{
    color: #fece44;
  }

  .logo-container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2rem; /* Adjust this value according to your desired logo text size */
    color: #fece44; /* Filipino yellow */
  }

  .logo {
    max-height: 75px; 
    width: auto; 
    
  }